.contact {
 background: #ccc;
}
.container {
 text-align: center;
 margin: 8rem auto;
 max-width: 100rem;
 padding: 0 8rem;
}
.contact_content {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.contact_title p {
 color: #555;
 font-size: 4rem;
 font-weight: 700;
 margin-bottom: 1rem;
 text-transform: uppercase;
}
.contact_title h3 {
 color: #2d2e32;
 font-size: 2.5rem;
}
.contact_icons {
 display: flex;
 flex-wrap: wrap;
 gap: 2rem;
 margin-top: 2rem;
}
.contact_icon_box {
 align-items: center;
 display: flex;
 gap: 2rem;
}
.contact_icon_box span {
 align-items: center;
 border-radius: 50%;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 display: flex;
 height: 5rem;
 justify-content: center;
 width: 5rem;
}
.contact_info {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}
.contact_info h3 {
 color: #555;
 font-size: 2rem;
}

.contact_info a,
.contact_info p {
 color: #767676;
 cursor: pointer;
 font-size: 1.7rem;
 text-decoration: none;
}

@media (max-width: 600px) {
 .contact {
  padding: 4rem 0;
 }
 .container {
  padding: 0 1.5rem;
 }
 .contact_title {
  text-align: center;
 }
 .contact_icons {
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  text-align: center;
 }
 .contact_icon_box {
  background-color: transparent;
  flex-direction: column;
 }
}
