/* HeroSection.module.css */

.hero {
 background-color: #ccc;
 display: flex;
 flex-direction: column;
 height: 100%;
 position: relative;
 width: 100%;
}
.container {
 margin: 1rem;
 padding: 0 4rem;
}
.content {
 align-items: center;
 display: flex;
 height: 60rem;
 justify-content: center;
 position: relative;
}
.hero_main {
 align-items: center;
 display: flex;
 gap: 2rem;
 justify-content: center;
 position: relative;
}
.hero_text {
 align-items: center;
 display: flex;
 gap: 2rem;
 flex-direction: column;
 position: relative;
}
.hero_text span {
 display: flex;
 gap: 0.5rem;
 margin-top: -1.2rem;
}
.skills {
 display: flex;
 align-items: center;
 bottom: 0;
 color: #767676;
 left: 0;
 position: absolute;
}
.skills ul {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}
.skills ul li img {
 height: 4rem;
 margin: 0 2px;
 transition: all 0.3s ease-in-out;
 width: 7rem;
}
.title {
 font-size: 5rem;
 margin-bottom: 20px;
}

.subtitle {
 font-size: 8rem;
 margin-bottom: 10px;
 color: #333;
}

.description {
 font-size: 2rem;
 margin-bottom: 10px;
 color: #555;
}

.para {
 font-size: 2rem;
 color: #555;
 line-height: 1.6;
 margin-right: 20px;
}
.content__container {
 font-weight: 500;
 overflow: hidden;
 height: 4rem;
 font-size: 6rem;
 padding: 0 20px;
}
.content__container:before {
 content: "[";
 left: 0;
}
.content__container:after {
 content: "]";
 position: absolute;
 right: 0;
}
.content__container:after,
.content__container:before {
 position: absolute;
 bottom: 0;
 color: #16a085;
 font-size: 4rem;
 line-height: 40px;
 -webkit-animation-name: opacity;
 -webkit-animation-duration: 2s;
 -webkit-animation-iteration-count: infinite;
 animation-name: opacity;
 animation-duration: 2s;
 animation-iteration-count: infinite;
}
.content__container__text {
 display: inline;
 float: left;
 margin: 0;
}
.content__container__list {
 margin-top: 0;
 padding-left: 250px;
 text-align: left;
 list-style: none;
 -webkit-animation-name: change;
 -webkit-animation-duration: 8s;
 -webkit-animation-iteration-count: infinite;
 animation-name: change;
 animation-duration: 8s;
 animation-iteration-count: infinite;
}
.content__container__list__item {
 color: #16a085;
 line-height: 40px;
 margin: 0;
}
/* Image */
.img {
 -webkit-animation: morph 8s ease-in-out infinite;
 animation: morph 8s ease-in-out infinite;
 background-position: 50%;
 background-repeat: no-repeat;
 background-size: cover;
 border: 3px solid #2d2e32;
 border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 height: 35rem;
 position: relative;
 transition: all 1s ease-in-out;
}

/* Keyframes */
@-webkit-keyframes opacity {
 0%,
 100% {
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
}
@-webkit-keyframes change {
 0%,
 12.66%,
 100% {
  transform: translate3d(0, 0, 0);
 }
 16.66%,
 29.32% {
  transform: translate3d(0, -25%, 0);
 }
 33.32%,
 45.98% {
  transform: translate3d(0, -50%, 0);
 }
 49.98%,
 62.64% {
  transform: translate3d(0, -75%, 0);
 }
 66.64%,
 79.3% {
  transform: translate3d(0, -100%, 0);
 }
 83.3%,
 95.96% {
  transform: translate3d(0, -25%, 0);
 }
}
@keyframes opacity {
 0%,
 100% {
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
}
@keyframes change {
 0%,
 12.66%,
 100% {
  transform: translate3d(0, 0, 0);
 }
 16.66%,
 29.32% {
  transform: translate3d(0, -25%, 0);
 }
 33.32%,
 45.98% {
  transform: translate3d(0, -50%, 0);
 }
 49.98%,
 62.64% {
  transform: translate3d(0, -75%, 0);
 }
 66.64%,
 79.3% {
  transform: translate3d(0, -50%, 0);
 }
 83.3%,
 95.96% {
  transform: translate3d(0, -25%, 0);
 }
}
@-webkit-keyframes morph {
 0% {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 }
 50% {
  border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
 }
 100% {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 }
}
@keyframes morph {
 0% {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 }
 50% {
  border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
 }
 100% {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
 }
}

/* Media Queries */
@media (max-width: 600px) {
 .content {
  flex-direction: column;
  text-align: center;
  height: 100dvh;
  width: 100%;
  margin-bottom: -10rem;
 }
 .hero {
  height: auto;
 }
 .container {
  padding: 0 2px;
 }
 .hero_main {
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  height: auto;
 }
 .hero_text {
  width: 100%;
 }
 .hero_text span {
  gap: 0.2rem;
  justify-content: center;
  margin-top: -1.2rem;
  margin-bottom: -3.2rem;
 }
 .subtitle {
  font-size: 3.3rem;
  margin-bottom: 0px;
 }
 .description {
  line-height: 1.6;
  font-size: 1.8rem;
  margin-bottom: 0;
 }
 .content__container {
  font-size: 2.5rem;
  padding: 0 10px;
  height: 2.8rem;
 }
 .content__container__text {
  float: none;
  margin-right: 60px;
  font-weight: 100;
 }
 .content__container__list {
  padding-left: 100px;
  text-align: center;
 }
 .content__container__list__item {
  font-weight: 600;
  line-height: 22px;
 }
 .content__container:after,
 .content__container:before {
  font-size: 3rem;
  line-height: 20px;
 }
 .img {
  position: absolute;
  top: -150px;
  height: 15rem;
  display: flex;
 }
 .skills {
  flex-direction: column;
  position: static;
  margin-bottom: -5rem;
 }
 .skills ul {
  justify-content: center;
 }
 .para {
  font-size: 1.8rem;
  border-bottom: 2px solid rgba(45, 46, 50, 0.5);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  padding-bottom: 5px;
 }
}
