.projects {
 height: 100%;
 width: 100%;
 position: relative;
 display: flex;
 flex-direction: column;
 background: #555;
}
.container {
 margin: 1rem;
 padding: 0 20px;
}
.content {
 align-items: center;
 display: flex;
 gap: 1rem;
 height: 60rem;
 justify-content: center;
 position: relative;
}
.nft {
 user-select: none;
 max-width: 600px;
 margin: 1rem auto;
 border: 1px solid #ffffff22;
 background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, 0.5) 100%);
 box-shadow: 0 7px 20px 5px #00000088;
 border-radius: 2rem;
 backdrop-filter: blur(2px);
 overflow: hidden;
 transition: 0.5s all;
 cursor: pointer;
}
hr {
 width: 100%;
 border: none;
 border-bottom: 1px solid #88888855;
 margin-top: 0;
}
ins {
 text-decoration: none;
}
.main {
 display: flex;
 flex-direction: column;
 width: 100%;
 padding: 1rem;
}
.projectImage {
 border-radius: 0.5rem;
 max-width: 100%;
 height: 100%;
 overflow: hidden;
 object-fit: contain;
}
.description {
 font-size: 2.5rem;
 margin: 0.4rem 0;
 width: 100%;
 height: 100px;
 color: #a89ec9;
}
.projectInfo {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.info {
 display: flex;
 align-items: center;
 color: #ee83e5;
 font-size: 2rem;
 font-weight: 700;
}
.info ins {
 margin-left: -0.3rem;
 margin-right: 0.5rem;
}

.skills {
 display: flex;
 align-items: center;
 margin-right: 0.2rem;
}
.skills ins {
 margin: 0.5rem;
 margin-bottom: 0.4rem;
}
.nft ::before {
 position: fixed;
 content: "";
 box-shadow: 0 0 100px 40px #ffffff08;
 top: -10%;
 left: -100%;
 transform: rotate(-45deg);
 height: 60rem;
 transition: 0.7s all;
}
.nft::before :hover {
 border: 1px solid #ffffff44;
 box-shadow: 0 7px 50px 10px #000000aa;
 transform: scale(1.01);
 filter: brightness(1.3);
}

.nft:hover ::before {
 filter: brightness(0.5);
 top: -100%;
 left: 200%;
}

.bg {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.bg h1 {
 text-align: center;
 font-size: 12rem;
 text-wrap: nowrap;
 text-transform: uppercase;
 filter: opacity(0.5);
}
h2 {
 text-align: center;
 font-size: 2.5rem;
 font-family: Poppins, "Helvetica Neue";
 color: #ccc;
 text-wrap: nowrap;
}

@media (max-width: 600px) {
 h1 {
  font-size: 4rem;
 }
 h2 {
  font-size: 2rem;
 }
 .bg h1 {
  font-size: 4rem;
 }
 .description {
  font-size: 2rem;
 }
 .content {
  display: block;
  height: 100%;
 }
 .nft {
  max-width: 450px;
 }
 .main {
  display: flex;
  width: 100%;
  padding: 1rem;
 }
 .projectImage {
  height: 250px;
  width: 450px;
 }
 .skills ins {
  margin: 0;
 }
}
